:root {
    --primary-color: #6B46C1;
    --secondary-color: #4A5568;
    --accent-color: #F6AD55;
    --bg-color: #1A202C;
    --card-color: #e4e4e4;
    --text-color: #FFFFFF;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 100vw;

    /* Coloring */
    background-color: var(--bg-color);
    color: var(--text-color)
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: clamp(12px, 40px, 50px)
}

.stats-container {
    /* Existing styles */
    font-size: clamp(10px, 20px, 25px);
    
    /* Wraps the box around the text */
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 840px; 
    margin-bottom: 20px;
}

.turn-info, .matches-info {
    /* Individual box styling */
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    font-size: clamp(10px, 20px, 25px);
}

.game-board {
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(2, calc(80px / 2 * 3));

    background-color: var(--secondary-color);

    /* Box styles */
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px 0;
}

.card {
    height: calc(80px / 2 * 3);
    width: 80px;
    border-radius: 20px;
    background-color: var(--card-color);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Set up the style of the FRONT of the card */
.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Makes the card face down by default*/
    transform: rotateY(180deg);
}

/* Set up the style of the BACK of the card */
.card .back {
    /* Thank you pattern.monster */
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='77.308' height='50' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffffff'/><path d='m64.423 25-12.886 9.615-12.881 9.616-.002-.002V50h12.884l12.885-9.615ZM25.769 0 12.883 9.615.003 19.231 0 19.229v11.542l12.885 9.752L25.77 50V34.478L12.884 25l12.884-9.615Zm12.885 0v5.77l12.885 9.753L64.423 25V9.478L51.537 0Z'  stroke-width='1' stroke='none' fill='%23e7cb65ff'/><path d='M12.885 25v15.522L25.77 50h12.885v-5.77l-12.886-9.753ZM51.539 0v15.523L64.424 25v15.385l12.88-9.615.005.002V19.229L64.422 9.477ZM25.77 0v15.385h.003l12.88-9.615.002.001V0Z'  stroke-width='1' stroke='none' fill='%23f06f66ff'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}

/* Set up style for matched cards */ 
.card.matched .front{
    outline: 3px solid rgb(10, 216, 10);
}

.reset-button{
    border: none;
    font-family: inherit;
    font-size: 3vh;
    color: var(--text-color);
    cursor: pointer;
    padding: clamp(8px, 4vh, 20px);
    margin-top: 40px;

    /* Coloring */
    background-color: var(--secondary-color);

    /* Rounded corners */
    border-radius: 8px;
}

.reset-button:hover {
    /* Change on mouse over */
    background-color: var(--primary-color);
}